// ------------------------------------------------------------------
// Basic
// ------------------------------------------------------------------

h2 {
	margin-bottom:32px;
	color:$black;
	font:bold 48px/1 'Open Sans Condensed', sans-serif;
	}
p {
	margin-bottom:1em;
	&.note {
		color:$medium;
		}
	}
