.logo {
	width: 100%;
	height: auto;
}

.logoBig {
	width: 70%;
	display: block;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.wellcome {
	margin-top: -50px;
	color: #5c5c5c;
}

.number {
	color: #ed1651;
	font-size: 50px;
}

.boiler-true {
	margin-left: 27%;
}

.boiler {
	margin-left: -70px;
}

.about-me {
	margin-left: -100px;
}

.slide {
	&.poehali {
		background: #000;
	}
	&.about-me {
		padding: 0;
	}
	&::after {
		// border: 3px solid $color;
		// border-radius: 50%;
	}
}

.Natasha {
	margin: -70px 0 0 130px;
}

.poehali {
    width: 108%;
    height: auto;
    margin-top: -160px;
    margin-left: -25px;
}

.gulp-img {
	width: 230px;
	height: 500px;
	margin: 0 auto;
	display: block;
}

.img {
	width: 100%;
	height: auto;
	display: block;
}

.img-fold {
	width: auto;
	height: 100%;
	display: block;
	margin-top: -60px;
	margin-left: 50px;
}

.bjs {
	height: 70%;
}

.bjs75 {
	height: 75%;
}

.bjs66 {
	height: 66%;
}

.bjs55 {
	height: 55%;
}

.wpk {
	width: 100%;
	height: 60%;
}

.homer {
	position: absolute;
	right: 17%;
	bottom: 1%;
}

.cow {
	height: 75%;
    width: auto;
    margin-left: 20%;
}

.di {
	position: absolute;
	right: 3%;
	bottom: 22%;
	width: 49%;
}

.question-img {
	position: absolute;
	right: 3%;
	bottom: 12%;
	width: 49%;
}

.question-img2 {
	position: absolute;
	right: 10%;
	bottom: 23%;
	width: 55%;
}

.question3 {
	position: absolute;
	right: 10%;
	bottom: 13%;
	width: 33%;
}

.wat {
	position: absolute;
	right: 9%;
	bottom: 19%;
	width: 37%;
}

.wat2 {
	position: absolute;
	right: 18%;
	bottom: 7%;
	width: 42%;
}

.gotit {
	position: absolute;
	right: 28%;
	bottom: 4%;
	width: 37%;
}

.cake {
	position: absolute;
	right: 3%;
	bottom: 23%;
	width: 46%;
}

.maxresdefault {
	position: absolute;
	right: 3%;
	bottom: 23%;
	width: 46%;
}

.nerd {
	position: absolute;
    right: 9%;
    bottom: 30%;
    width: 39%;
}

.downie {
	position: absolute;
    right: 2%;
	bottom: 22%;
	width: 51%;
}

.di2 {
	// position: absolute;
    // right: 2%;
	// bottom: 22%;
	width: 71%;
	margin: 0 auto;
	display: block;
}

.cat {
	position: absolute;
    right: 20%;
	bottom: 9.8%;
	width: 41.7%;
}
